


.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 1vw;
padding: 5px;
margin: 5px;
text-align: center;
}
.text{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 0.75vw;
padding: 5px;
margin: 5px;
text-align: center;
}
