.flex-pages {
    /* border-radius: 15px; */
    display: flex;
    align-items: stretch;
    position: relative;

    /* IMPORTANT:KEEP AS MIN HEIGHT NOT HEIGHT*/
    /* https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    /* padding: 0px 5px; */

    

}
