
.task-title-mobile {
    font-size: calc(1.5vw + 1vh);
    margin-right: 10px;
}

.task-item-mobile {
    font-size: calc(1vw + 1vh);
}

.task-badge-mobile {
    font-size: calc(1vw + 0.5vh);
 
}

.due-date-mobile {
    color: rgb(43, 99, 158);
    font-size: calc(1vw + 1vh);
}

.task-description-mobile {
    overflow-wrap: anywhere;
    font-size: calc(1vw + 1vh);
}


.task-item-mobile.list-group-item {
    /* border-bottom-width: 3px; */
    border-color: rgb(226, 226, 226);
    border-radius: 0px;
    border-width: 0px;
    border-top-width: 0px !important;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
    padding: 10px !important;

    /* background-color: rgb(255, 242, 242); */
}


.checkbox-mobile .form-check-input {
    width: 6vw;
    height: 6vw;
}


.check-box-task-mobile,
.close-box-task-mobile,
.course-id-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px !important;
    padding: 10px 15px;
}


.close-box-task-mobile.list-group-item {
    border-width: 0px;
    border-top-width: 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.check-box-task-mobile.list-group-item {


    /* background-color: rgba(233, 139, 139, 0.352); this gets set in the TaskItem component */
    border-width: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}



.close-box-task-mobile .btn-close {
    width: 0.5rem;
    height: 0.5rem;
}


.createtask-modal-mobile {
    width: 100vw;
    height: 80vh;
    font-size: calc(1.5vw + 1vh);
}

#validationFormik01, #validationFormik02, #validationFormik03, #validationFormik04 {
    font-size: calc(1.5vw + 1vh);
}

.to-tabs-mobile,
.to-tabs-mobile .nav-link {
    background-color: rgba(243, 193, 193, 0);
    color: rgb(93, 93, 93);
    font-size: calc(1vw + 1vh);
    margin: 0px;
    letter-spacing: 0.5px;
    border-width: 0px;
    text-decoration: none;
    
}

.to-tabs-mobile .nav-link.active {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(43, 99, 158);
    border-color: rgb(43, 99, 158);
    border-width: 0px 0px 3px 0px;

}

.to-tabs-mobile .nav-link:hover {
    color: rgb(43, 99, 158);
}

/* margin for ACTIVE / COMPLETE Tabs */
.to-tabs-mobile .nav-item {
    margin: 5px;
}