/*Any size*/




.welcome-header {
    font-size: 20px;

}



 /*Tiny phone*/
  @media (min-height: 667px) {

    .section-login-register{
        max-height: 100vh;
        font-size: xx-small;
    }

  }

  /*Larger phone*/
  @media (min-height: 800px) {

  }
  
  
  /*desktop styles*/
  @media (min-width: 1130px) {
  
 
  }
  