.Candy {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
img {
    margin: 5px;
  }
.Wrapper {
  padding: 20;
  border: "5px solid black";
  height: 200;
  width: 1040;
}
.Board {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  justify-self: center;
}