.link-container-mobile {
    margin: 10px;
}

.pet-profile-button-mobile {
    /* display: block; */
    /* justify-content: center;
    align-items: center; */
    /* margin:10px; */
    width: 80vw;
    margin: 20px;
    background-color: pink;
    color:black;
    

}

.canvas-button-mobile {
    
    width: 80vw;
    margin: 20px;
    background-color: pink;
    color:black;

}

.logout-button-mobile {
    width: 80vw;
    margin: 20px;
    background-color: pink;
    color:black;
    
}