@font-face {
  font-family: pixelFont;
  src: url("../../fonts/retrogaming.ttf");
}

.alice-container {
  max-height: 100vh;
  height: auto;
  background-color: rgb(255, 198, 198);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  bottom: 0;
}

.padding-container {
  height: auto;
  margin: auto;
  padding-bottom: 10px;
  background-color: rgb(255, 198, 198);
  bottom: 0;
}

.alice-carousel {
  height: auto;
  flex-direction: column;
  background-color: rgb(255, 198, 198);
  max-height: 90vh;
}

.alice-box {
  height: auto;
  max-height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tut-image {
  text-align: center;
  display: block;
  margin: auto;
  width: auto;
  max-height: 70vh;
  max-width: 100%;
  border-style: outset;
  height: auto;
}

.header-tut {
  top: 0;
  background-color: bisque;
  border: rgb(33, 33, 33);
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  border-style: double;
  padding-left: 10px;
  padding-right: 10px;
}

.header-text-tut {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pixelFont;
  font-weight: bold;
  font-size: 18px;
}

.tut-imagebox {
  text-align: center;
  display: block;
  margin: auto;
  width: auto;
  max-height: 75vh;
  max-width: 100%;
}

.tut-text {
  max-width: 100px;
  font-family: pixelFont;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  justify-self: center;
}

.tut-textbox {
  justify-items: center;
  text-align: center;
  justify-self: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  border-style: double;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  background-color: antiquewhite;
  max-width: 95vw;
}


@media (min-height: 667px) {
  .alice-container {
    max-height: 100vh;
    height: auto;
    background-color: rgb(255, 198, 198);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding-top: 10px;
    bottom: 0;
  }
}

/*Mary's Phone*/
@media (min-height: 800px) {
  .alice-container {
    max-height: 100vh;
    height: auto;
    background-color: rgb(255, 198, 198);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding-top: 50px;
    bottom: 0;
    height: 100vh;
  }

  .tut-image {
    text-align: center;
    height: auto;
    display: block;
    margin: auto;
    width: auto;
    max-height: 70vh;
    /*padding-top: 70px;*/
    /* padding-bottom: 20px;*/
    max-width: 100%;
    border-style: ridge;
  }

  .tut-imagebox {
    text-align: center;
    display: block;
    margin: auto;
    width: auto;
    max-height: 75vh;
    max-width: 100%;
    padding-top: 2vh;
    padding-bottom: 20vh;
  }
}

/*desktop styles*/
@media (min-width: 1130px) {
  .alice-container {
    max-height: 100vh;
    height: 100vh;
    background-color: rgb(255, 198, 198);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding-top: 20px;
    bottom: 0;
  }
  .header-tut {
    top: 10;
    background-color: bisque;
    border: rgb(33, 33, 33);
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-style: double;

    padding-left: 10px;
    padding-right: 10px;
  }

  .header-text-tut {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pixelFont;
    font-weight: bold;
    font-size: 18px;
  }

  .alice-carousel {
    flex-direction: column;
    background-color: rgb(255, 198, 198);
    max-height: 100vh;
    height: 100vh;
  }

  .alice-box {
    height: auto;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .tut-image {
    text-align: center;
    height: auto;
    display: block;
    margin: auto;
    width: auto;
    max-height: 75vh;
    max-width: 100%;
    border-style: ridge;
  }

  .tut-imagebox {
    text-align: center;
    display: block;
    margin: auto;
    width: auto;

    max-height: 75vh;
    max-width: 100%;
  }

  .tut-textbox {
    justify-items: center;
    text-align: center;
    justify-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-style: double;
    padding-left: 10px;
    padding-right: 10px;
    background-color: antiquewhite;
    max-width: 20vw;
  }

  .card {
    background-color: rgb(255, 214, 214);
    flex: 1 1 auto;
    width: 0;
    max-width: 20vw;
    font-size: 20px;
    height: auto;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
  }

  .card-title-mobile {
    font-size: 20px;
    margin-top: 10px;
  }

  .card-body-mobile {
    margin-top: -10px;
    font-size: 16px;
    overflow: hidden;
  }
}

.landingpage {
  width: 100vw;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  background-color: rgb(255, 198, 198);
  /* padding: 10px; */
}

.landingpage-mobile {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(255, 198, 198);
  padding: 10px;
  overflow: hidden;
}

.card {
  background-color: rgb(255, 214, 214);
  flex: 1 1 auto;
  width: 0;
  height: auto;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.card-about-mobile {
  background-color: rgb(255, 214, 214);
  flex: 1 1 auto;
  width: 90vw;
  height: 280px;
  margin-top: -10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  overflow: hidden;
}

.card-title-mobile {
  font-size: 20px;
  margin-top: 10px;
}

.card-body-mobile {
  margin-top: -10px;
  overflow: hidden;
}

.landingbutton-register-mobile {
  cursor: pointer;
  padding: 8px;
  margin: 5px;
  background: rgb(172, 65, 100);
  color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.1s ease-in;
  position: relative;
}

.landingbutton-login-mobile {
  cursor: pointer;
  padding: 8px;
  margin: 5px;
  background: rgb(172, 65, 100);
  color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.1s ease-in;
  position: relative;
}

.landingbutton {
  cursor: pointer;
  /*border: 1px solid #1a202c;
  ;*/
  /*display:block;*/
  padding: 8px;
  text-align: center;
  align-self: center;
  justify-content: center;
  display: inline-block;
  width: 10%;
  /* height:20vmax; */
  /*width:auto;*/
  margin: 5px;
  background: rgb(172, 65, 100);
  color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.1s ease-in;
  position: relative;
}

.image {
  /* position: absolute; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  align-items: center;
  /* top:auto; */
  /* top: 30px;
  left: 30px; */
  /* top: 220px; */
}

.image-kitty-mobile {
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
  height: 300px;
  width: 300px;
  justify-content: center;
}
.landingbutton:hover {
  background: #3a0422;
  color: #ffffff;
}
