@font-face {
  font-family: pixelFont;
  src: url("../../fonts/retrogaming.ttf");
}


.alice-container {
  max-height: 100vh;
  height: auto;
  background-color: rgb(255, 198, 198); 
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  bottom: 0;
}

.padding-container{
  height: auto;
  margin: auto;
  padding-bottom: 10px;
  background-color: rgb(255, 198, 198); 
  bottom: 0;
}

.alice-carousel {
  height: auto;
  flex-direction: column;
  background-color: rgb(255, 198, 198);
  max-height: 90vh;
}

.alice-box {
  height: auto;
  max-height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tut-image {
  text-align: center;
  display: block;
  margin: auto;
  width:auto;
  max-height: 75vh;
  max-width: 100%;
}

.header-tut {
  top: 0;
  background-color: bisque;
  border: rgb(33, 33, 33);
  max-width: 100%;
  margin-left: auto;
  margin-right:auto;
  border-width: 5px;
  border-style: double;
  padding-left: 10px;
  padding-right: 10px
}

.header-text-tut {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pixelFont;
  font-weight: bold;
  font-size: 18px;
}

.tut-imagebox {
  text-align: center;
  display: block;
  margin: auto;
  width: auto;
  max-height: 75vh;
  max-width: 100%;
}

.tut-text {
  max-width: 100px;
  font-family: pixelFont;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  justify-self: center;
}

.tut-textbox {
  justify-items: center;
  text-align: center;
  justify-self: center;
  align-items: center;
  margin-left: auto;
  margin-right:auto;
  border-width: 5px;
  border-style: double;
  padding-left: 10px;
  padding-right: 10px;
  background-color: antiquewhite;
  max-width: 95vw;
}

html, body {
  height: 100vh;
  width: 100vw; 
  background-color: rgb(255, 198, 198); 
  overflow: hidden;
}

/*desktop styles*/
@media (min-width: 1130px) {
  .alice-carousel {
  
    flex-direction: column;
    background-color: rgb(255, 198, 198);
    max-height: 100vh;
  }

  .alice-box {
    height: auto;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .tut-image {
    text-align: center;
   
    display: block;
    margin: auto;
    width:auto;
    max-height: 75vh;
    max-width: 100%;
  }

  .tut-imagebox {
    text-align: center;
    display: block;
    margin: auto;
    width: auto;
    max-height: 75vh;
    max-width: 100%;
  }

  .tut-textbox {
    justify-items: center;
    text-align: center;
    justify-self: center;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
    border-width: 5px;
    border-style: double;
    padding-left: 10px;
    padding-right: 10px;
    background-color: antiquewhite;
    max-width: 70vw;
  }
}
